
body {
    text-align: center;
}

header {
    background-color: #6fb6e9;
    padding: 20px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}

.list{
    text-align: left;
    padding: 15px;
}
